<div>
    <img class="banniere"
         src="../assets/banni-re@3x.jpg"
         alt="showcase" />
</div>
<div class="wrapper fond">
  <h2 class="title">Formulaire d'inscription</h2>
  <div class="wrapper-form">
    <form class="formInscription" (ngSubmit) = "handleSubmit()" [formGroup]="formInscription">
      <div class="bounds">
          <input class="Text_Input" type="text" formControlName="identifiant" placeholder="Identifiant" />

          <div *ngIf="formInscription.get('identifiant').dirty && formInscription.get('identifiant').hasError('required')">
              identifiant requis
          </div>
      </div>
      <div class="bounds">

          <input class="Text_Input" type="password" formControlName="password" placeholder="Mot de passe"/>  
          <div *ngIf="formInscription.get('password').dirty && formInscription.get('password').hasError('required')">
                      mot de passe requis
          </div>

          <div *ngIf="formInscription.get('password').errors?.minlength && formInscription.get('password').touched ">
                  le mot de passe doit avoir 8 caractères minimum
          </div>

          <div *ngIf="formInscription.get('password').errors?.pattern && formInscription.get('password').touched ">
                  le mot de passe doit avoir une majuscule et un chiffre
          </div>
      </div>
      <div class="bounds">

         <input class="Text_Input" type="password" placeholder="Confirmez le mot de passe"
          formControlName="passwordConfirm" />

        <div *ngIf="formInscription.get('passwordConfirm').errors?.notEquivalent &&
        formInscription.get('passwordConfirm').touched">Mots de passe non identique</div>

        <div *ngIf="formInscription.get('passwordConfirm').dirty &&
         formInscription.get('passwordConfirm').hasError('required')">
            mot de passe de confirmation requis
        </div>

      </div>

      <div class="bounds">
        <input class="Text_Input" type="text" placeholder="Email" formControlName="email" />

        <div *ngIf="formInscription.get('email').dirty && formInscription.get('email').hasError('email')">
            Email invalide
        </div>
      </div>


      <div class="bounds">
        <input  formControlName="city" class="Text_Input" type="text"  [(ngModel)]="city" placeholder="Ville"/>
      </div>


      <div class="box-artist">
        <input type="checkbox" id="checkbox-1" [(ngModel)]="isArtist" formControlName="artistCheck" />
        <div class="label-checkbox">
          <div class="Hint-text" > Êtes vous un artiste proposant des prestations privées ? 
          </div>
        </div>
      </div>

      <div *ngIf="isRegisteringArtist()" class="">
        <div class="bounds">
          <input class="Text_Input" type="text" placeholder="Nom d'artiste" formControlName="artistName" />
          <div *ngIf="formInscription.get('artistName').dirty && formInscription.get('artistName').hasError('required')">
            <span>Nom d'artiste requis</span>
          </div>
        </div>

        <div class="boundDescription">
          <label class="Hint-text-small">Description</label>

          <textarea name="description"
          class="DescriptionTextArea"
          formControlName="description"
          placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam gravida venenatis accumsan. In mi massa tempus"
          ></textarea>
        </div>
      </div>

      <div class="bounds submit">
        <button type="submit" [ngClass]="{'button-bg': true,'check':!formInscription.invalid}" [disabled]="formInscription.invalid">Envoyer</button>
        <button type="reset" class="button-bg cancel" (click)="handleClear()">Annuler</button>
      </div>

    </form>
  </div>
</div>
