.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	background-color: #4a4a4a;
	height: 64px;
	font-family: Roboto;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.89;
}

.mat-menu{
	min-width: 320px;
	border-radius: 0px;
}

.mat-menu-item{
	margin:0px;
}

.mat-menu-item-close{
	color: white;
	background-color: #4a4a4a;
}
