.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	color: white;
	background-color: #4a4a4a;
	max-height: 64px;
	font-family: Roboto, sans-serif;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.89;
	letter-spacing: normal;
}

.header__title{
	padding-left: 82px;
}

.header__menu {
	position: relative;
}

.header__options {
	position: relative;
}


