.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px;
	color: white;
	background-color: #4a4a4a;
	height: 64px;
	font-family: Roboto;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.89;
}

.header__menu{
	position: relative;
}

.menu__button{
	min-width: 64px;
	min-height: 64px;
}

.menu__button:hover{
	cursor: pointer;
}

.menu__buttonIcon{
	max-width: 14px;
	max-height: 14px;
	font-size:18px;
	margin: 25px;
}

.menu__choices{
	position: absolute;
	top: 100%;
	width: 318px;
	max-height: 193px;
	background-color: #fafafa;
	border: 1px lightgrey solid;

}

.menu__choices:last-child{
	padding-bottom: 30px;
}

.menu__choice{
	display: flex;
	align-content: center;
	padding-top: 30px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 14px;
	line-height: 24px;
}

.menu__choiceIcon{
	padding-left: 25px;
	padding-right: 35px;
}

.menu__choice:not(:hover) .menu__choiceIcon{
	color: rgba(0, 0, 0, 0.54);
}

.menu__choices .menu__choice:hover{
	color: #f5a623;
	cursor: pointer;
}





