.container__pan{
    display: flex;
    flex-direction: row;
    max-width: 1164px;
    flex: auto;
    min-height: 200px;
    border: solid 1px #979797;
    background-color: #fafafa;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 10px;
}

.container__pan__first{
    padding-right: 77px;
}

.pan__line__horizontalAlign{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.pan__editIconWrapper{
    position: relative;
    top: 5px;
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.pan__editIconWrapper.pan__editIconWrapper__longDescHeight{
    margin-top: 16px;
    align-self: flex-start;
}

.pan__editIcon{
    position: relative;
    font-size: 24px;
    margin-left: 13px;
    color: #5b9a12;
}

.pan__editIcon:hover{
    cursor: pointer;
}

.pan__photoBounds{
    margin: 24px 47px 29px 33px;
    width: 277px;
    height: 245px;
}

.pan__photo {
    width: 277px;
    height: 245px;
}

.pan__infos{
    flex: auto;
}

.pan__artistName{
    max-width: 500px;
    margin-top: 22px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.pan__shortDescription{
    max-width: 730px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.pan__longDescription{
    max-width: 730px;
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: justify;
    color: rgba(0, 0, 0, 0.87);
}
