<div class="container__pan container__pan__first">
    <div class="pan__photoBounds">
        <img class="pan__photo" src="../../assets/circle-image.jpg" alt="Group logo">
    </div>

    <div class="pan__infos">
        <form [formGroup]="artistForm" (ngSubmit)="handleSubmit()">
            <div class="pan__line__horizontalAlign">
                <mat-form-field
                    matFormFieldControl="nameCtrl"
                    class="pan__artistNameFormField">
                    <input
                        #name
                        matInput
                        formControlName="name"
                        class="pan__artistNameInput"
                        [value]="artist.name"
                        [readonly]="inputNameDisabled">
                </mat-form-field>
                <div class="pan__iconWrapper" (click)="inputNameToggle()">
                    <mat-icon *ngIf="inputNameDisabled && displayEdition" class="pan__icon pan__editIcon">
                        edit
                    </mat-icon>
                    <mat-icon *ngIf="!inputNameDisabled && displayEdition" class="pan__icon pan__saveIcon">
                        save
                    </mat-icon>
                </div>
                <app-rating-element></app-rating-element>
            </div>

            <div class="pan__line__horizontalAlign">
                <mat-form-field
                    matFormFieldControl="shortDescCtrl"
                    class="pan__shortDescFormField">
                    <input
                        #shortDesc
                        matInput
                        formControlName="shortDesc"
                        class="pan__shortDescriptionInput"
                        placeholder="Description courte"
                        [value]="artist.description"
                        [readonly]="inputShortDescriptionDisabled">
                </mat-form-field>
                <div class="pan__iconWrapper"
                     (click)="shortDescriptionToggle()">
                    <mat-icon *ngIf="inputShortDescriptionDisabled && displayEdition"
                              class="pan__icon pan__editIcon">
                        edit
                    </mat-icon>
                    <mat-icon *ngIf="!inputShortDescriptionDisabled && displayEdition"
                              class="pan__icon pan__saveIcon">
                        save
                    </mat-icon>
                </div>
            </div>

            <div class="pan__line__horizontalAlign">
                <mat-form-field
                    matFormFieldControl="longDescCtrl"
                    class="pan__longDescFormField">
                    <textarea
                        #longDesc
                        matInput
                        formControlName="longDesc"
                        class="pan__longDescriptionInput"
                        placeholder="Description longue"
                        [value]="artist.longDescription"
                        [readonly]="inputLongDescriptionDisabled">
                    </textarea>
                </mat-form-field>
                <div class="pan__iconWrapper pan__editIconWrapper__longDescHeight"
                     (click)="longDescriptionToggle()">
                    <mat-icon *ngIf="inputLongDescriptionDisabled && displayEdition" class="pan__icon pan__editIcon">
                        edit
                    </mat-icon>
                    <mat-icon *ngIf="!inputLongDescriptionDisabled && displayEdition" class="pan__icon pan__saveIcon">
                        save
                    </mat-icon>
                </div>
            </div>
            <div *ngIf="displayEdition"
                 class="pan__line__horizontalAlignReverse">
                <button type="submit" class="pan__buttonSubmit">Valider</button>
            </div>
        </form>
    </div>
</div>
