.container{
    margin: auto;
    max-width: 1164px;
}

.container__title{
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.14);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 86px;
    margin-bottom: 2px;
}

.container__pan{
    display: flex;
    flex-direction: row;
    max-width: 1164px;
    flex: auto;
    min-height: 200px;
    border: solid 1px #979797;
    background-color: #fafafa;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 200px;
}

.container__panForm{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.pan__info{
    flex: auto;
    padding-top: 31px;
}

.pan__info__second{
    padding-left: 40px;
}

.pan__centralBar{
    margin-top: 12px;
    width: 0;
    border: solid 1px #979797;
    background-color: #fafafa;
}

.pan__contentsTopLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pan__title{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.pan__contactLine{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.pan__contactIcon{
    position: relative;
    bottom: -10px;
    font-size: 20px;
    margin-left: 38px;
    margin-bottom: 18px;
    margin-right: 23px;
    color: #979797;
}

.pan__contactIcon .pan__contactIcon__first{
    margin-top: 38px;
}

.pan__contactText{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.pan__buttonSubmit {
    padding: 0;
    margin-left: auto;
    margin-top: 35.5px;
    margin-right: 77px;
    border: none;
    width: 93px;
    height: 36px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    color:#fff;
    background-color: #17998c;
    margin-bottom: 15px;
}
