<div>
    <img class="banniere"
         src="../assets/banni-re@3x.jpg"
         alt="showcase" />
</div>
<div class="wrapper fond">
	<h2 class="title">Formulaire de connexion</h2>
	<div class="wrapper-form">
		<form (ngSubmit)="handleSubmit()" [formGroup]="loginForm">
			<div class="bounds">
				<input class="Text_Input" formControlName="login" placeholder="Identifiant" >

			</div>
			<div class="error-msg" *ngIf="loginForm.get('login').hasError('required') &&
                loginForm.get('login').touched">
				Le login est obligatoire
			</div>
			<div class="bounds">
				<input class="Text_Input" formControlName="password" type="password" placeholder="Password">

                <div *ngIf="loginForm.get('password').errors?.pattern && loginForm.get('password').touched "
                     class="error-msg">
                    Le mot de passe doit comporter au moins : 8 caractères minimum, une majuscule, une minuscule et un chiffre
                </div>

			</div>

			<div class="wrapper-submit">
				<button type="submit" class="button-bg check" [disabled]="loginForm.invalid">Valider</button>
				<button type="reset" class="button-bg cancel" (click)="handleClear()">Annuler</button>
			</div>
		</form>
	</div>
</div>
