.banniere{
    /*width: 1280px;
    height: 426px;*/
    width: 100%;
    object-fit: contain;
    padding:0;margin:0;
    display:block;
    margin-bottom: 64px;
}

.fond {
	width: 682px;
	height: auto;
	margin: 0 auto;
	border-radius: 14px;
	background-color: #e7e6e6;
	padding-bottom: 32px;
	clear: both;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 28px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	width: 222px;
	height: 28px;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.4;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.54);
}

.wrapper-form {
	margin-left: auto;  
	margin-right: auto;
	position: relative;   
	height: auto;
	width: 396px;
}
.bounds {
	width: 396px;
	height: 46px;
	clear: both;
	margin-bottom: 17px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.bounds > select {
	flex: 1;
}

.Text_Input {
	height: 10px;
	background: transparent;
	border-top: none; 
	border-left: none;
	border-right: none;
	border-bottom: none;
	-webkit-box-flex: 1;
	flex: 1;

	font-family: Roboto;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 0.38);
	border-bottom: solid 1px rgba(0, 0, 0, 0.12); 
}


.line {
	width: 397px;
	height: 1px;
	border-bottom: solid 1px rgba(0, 0, 0, 0.12); 
}

.wrapper-submit{
	display: flex;
	flex-direction: row-reverse;
	align-content: center;
}

.button-bg {
	padding: 0;
	margin-left: 17px;
	margin-top: 35.5px;
	border: none;
	width: 93px;  
	height: 36px;  
	border-radius: 2px;  
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);  
	color:#fff;


	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;

}
.bounds.message{
	width: 100%;
	height: 16px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.46);
}

.bounds.message.password{
	margin-top: 46px;
	position: absolute;
}

.bounds.submit > button {
	margin-left: 25px;
}
.check {
	background-color: #17998c;
}

.cancel {
	background-color:#4a4a4a;
}

.button-bg:disabled,
.button-bg[disabled]{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
