
.outer
{
     padding: 30px;
}

.inner
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.plain
{
    margin: 0 20px 0 0;
    background-color: transparent;
    width: 344px;
    height: 304px;
}

.cardDiv{
  margin: 0 20px 20px 0;
}

.overlay{
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  width: 344px;
  height: 304px;
  background-color: rgba(0,0,0,0.5);
}

.title{
  text-align: center;
  font-family: Roboto, sans-serif;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.89;
	letter-spacing: normal;
  color: white;
}

.spinnerOverlay{
  color: white;
  position: fixed;
  bottom: 50%;
  right: 50%;
  /*align-items: center;
  margin: 0 20px 0 0;
  width: 344px;
  height: 304px;
  background-color: rgba(0,0,0,0.5);*/
}

.mat-spinner-color::ng-deep circle{
stroke: rgba(255, 255, 255, 0.75) !important;
}

.spinner{
  margin: 0 auto;
}
