<div class="welcome">
	<div>
		<img class="banniere"
		src="../assets/banni-re@3x.jpg"
		alt="showcase" />
	</div>
	<div class="box-welcome">
		<div class="Private-ShowCase-est ">Private ShowCase est une plateforme web permettant la mise en relation de musiciens avec des particuliers qui souhaitent organiser des concerts chez eux...</div>
		<div class="Les-spectateurs-sont">Les spectateurs sont directement invités par l'organisateur, une participatin pourra être demandée pour le cachet des artistes</div>

		<div class="carrousel">
			<div class="Fond">
				<img src="../assets/circle-image.jpg"
				srcset="../assets/circle-image@2x.jpg 2x,
				../assetscircle-image@3x.jpg 3x"
				class="CircleImage">
				<div class="Musiciens">Musiciens</div>
				<div class="Proposez-des-concert">Proposez des concert privés</div>
			</div>
			<div class="Fond">
				<img src="../assets/singer.png"
				srcset="../assets/singer@2x.png 2x,
				../asset/singer@3x.png 3x"
				class="CircleImage">
				<div class="Musiciens">Spectateurs</div>
				<div class="Proposez-des-concert">Vivez une expérience unique</div>
			</div>
			<div class="Fond">
				<img src="../assets/bar.png"
				srcset="../assets/bar@2x.png 2x,
				../assets/bar@3x.png 3x"
				class="CircleImage">
				<div class="Musiciens">Organisateurs</div>
				<div class="Proposez-des-concert">Partagez vos coups de coeurs</div>
			</div>
		</div>
	</div>
</div>
