<p>
	settings works!
</p>
<div class="wrapper fond">
	<h2 class="title">Profil {{user}}</h2>
	<div class="wrapper-form">
		<form (ngSubmit)="handleSubmit()" formGroup="settingForm">
			<div class="bounds">
				<input class="Text_Input" formControlName="password" type="password" placeholder="Ancien mot de passe" >
			</div>
			<div class="bounds">
				<input class="Text_Input" formControlName="newPassword" type="password" placeholder="Mot de passe" >
			</div>
			<div class="bounds">
				<input class="Text_Input" formControlName="passwordConfirmation" type="password" placeholder="Confirmez le mot de passe" >
			</div>
			<div class="bounds">
				<input class="Text_Input" formControlName="email" placeholder="Email" >
			</div>
			<div class="bounds message"*ngIf="(settingForm.get('passwordConfirmation').errors?.notEquivalent) && settingForm.get('passwordConfirmation').touched">Mots de passe non identique</div>


		<div class="wrapper-submit">
			<button type="submit" class="button-bg check" [disabled]="settingForm.invalid">Valider</button>
			<button type="reset" class="button-bg cancel" (click)="handleClear()">Annuler</button>
		</div>
	</form>
</div>
</div>